// =============================================================================
// CHECKOUT CART (Settings)
// =============================================================================

$checkoutCart-borderRadius: 8px;
$checkoutCart-minHeight: 300px;
$checkoutCart-padding: spacing("single");
